section {
    display: flex;
    height: 100vh;
}

.leftSide {
    background-color: #720418;
    width: 28%;
    height: 100vh;
    margin: 0px;
}

.leftSide .logo {
    display: flex;
    align-items: center;
    column-gap: 7.98px;
    margin: 0px 0px 8px 35px;
    padding-top: 93.3px;
}

.leftSide .logo .logoImage img {
    width: 67.056px;
    height: 105.861px;
}

.leftSide .logo .logoText h2 {
    margin: 0px;
    width: 207.553px;
    height: 25.205px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.leftSide .logo .logoText hr {
    margin: 0px;
    margin-top: 7.58px;
    width: 202.764px;
    height: 1px;
    color: rgba(255, 255, 255, 0.59);
}

.leftSide .logo .logoText p {
    margin: 0px;
    margin-top: 5.04px;
    width: 197.974px;
    height: 22.684px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
}

.leftSide .menu ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.leftSide .menu ul li {
    list-style: none;
}

.leftSide .menu ul li a {
    text-decoration: none;
    color: #fff;
    width: 197.974px;
    height: 13.071px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
}

.leftSide .menu .imgAndTextOfMenuItem {
    align-items: center;
}

.leftSide .menu .imgAndTextOfMenuItem img {
    width: 75px;
    height: 61px;
}

.rightSide {
    background-color: #FFFAF5;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.rightSide .adminButton {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    justify-content: flex-end;
    margin-right: 58px;
    margin-top: 48px;
}

.rightSide .adminButton img {
    width: 24px;
    height: 31px;
}

.rightSide .adminButton h2 {
    color: #241400;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
    padding: 12px 0px;
}

.rightSide .addBook {
    display: flex;
    flex-direction: column;
    margin: 51px 0px 0px 33px;
}

.rightSide .addBook h2 {
    color: #333;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}

.rightSide .addBook .searchBook {
    display: flex;
    flex-direction: column;
}

.rightSide .addBook .searchBook p {
    color: #333;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}

.rightSide .addBook .searchBook .searchBar {
    display: flex;
    column-gap: 7px;
}

.rightSide .addBook .searchBook .searchBar input {
    width: 395px;
    height: 41px;
    border-radius: 34px;
    border: 2px solid rgba(57, 31, 0, 0.48);
    background-color: #fff;
    padding: 10px 33px;
    color: #ADADAD;
    font-family: Preahvihear;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .addBook .searchBook .searchBar button {
    background-color: #ff8b00;
    border-radius: 34px;
    padding: 12px 24px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 0px;
}

.rightSide .addBook .searchBook .searchBar button img {
    width: 17px;
    height: 23.111px;
}

.rightSide .addBook .searchBook .searchHistory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f0f0;
    width: 388px;
    height: 85px;
    border-radius: 35px;
    margin-top: 6px;
    padding: 20px 0px 18px 36px;
}

.rightSide .addBook .searchBook .searchHistory .first {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
}

.rightSide .addBook .searchBook .searchHistory .first img {
    width: 15px;
    height: 17px;
}

.rightSide .addBook .searchBook .searchHistory .first p {
    width: 343px;
    height: 17px;
    color: #BCBCBC;
    font-family: Preahvihear;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .addBook .searchBook .searchHistory .second {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
}

.rightSide .addBook .searchBook .searchHistory .second img {
    width: 15px;
    height: 17px;
}

.rightSide .addBook .searchBook .searchHistory .second p {
    width: 343px;
    height: 17px;
    color: #BCBCBC;
    font-family: Preahvihear;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .bookForm {
    display: flex;
    flex-direction: column;
    margin-top: 81px;
    margin-left: 33px;
    margin-bottom: 30px;
    margin-right: 108px;
}

.rightSide .bookForm h2 {
    color: #333;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}

.rightSide .bookForm .aboutBook {
    display: flex;
    flex-direction: column;
    width: 947px;
    height: 599px;
    align-items: flex-start;
    row-gap: 24px;
    border-radius: 20px;
    background-color: #FFF;
    padding: 16px 30px 30px 30px;
}

.rightSide .bookForm .aboutBook .bookName {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rightSide .bookForm .aboutBook .bookName label {
    color: #030102;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .bookForm .aboutBook .bookName input {
    width: 887px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #e2e6ee;
    background-color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
}

.rightSide .bookForm .aboutBook .authorName {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rightSide .bookForm .aboutBook .authorName label {
    color: #030102;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .bookForm .aboutBook .authorName input {
    width: 887px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #e2e6ee;
    background-color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
}

.rightSide .bookForm .aboutBook .bookImg {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rightSide .bookForm .aboutBook .bookImg label {
    color: #030102;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .bookForm .aboutBook .bookImg input {
    width: 887px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #e2e6ee;
    background-color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
}

.rightSide .bookForm .aboutBook .descriptionOfBook {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rightSide .bookForm .aboutBook .descriptionOfBook label {
    color: #030102;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .bookForm .aboutBook .descriptionOfBook textarea {
    width: 887px;
    height: 89px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #e2e6ee;
    background-color: #fff;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
}

.rightSide .bookForm .aboutBook .bookType {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rightSide .bookForm .aboutBook .bookType label {
    color: #030102;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .bookForm .aboutBook .bookType select {
    width: 887px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #e2e6ee;
    background-color: #fff;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
}

.rightSide .bookForm button {
    height: 40px;
    width: 887px;
    padding: 12px 24px;
    border-radius: 10px;
    border: 0px;
    background-color: #ff8b00;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.rightSide .storeForm {
    display: flex;
    flex-direction: column;
    margin-top: 81px;
    margin-left: 33px;
    margin-bottom: 30px;
    margin-right: 108px;
}

.rightSide .storeForm h2 {
    color: #333;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}

.rightSide .storeForm .aboutStore {
    display: flex;
    flex-direction: column;
    width: 947px;
    height: 415px;
    align-items: flex-start;
    row-gap: 24px;
    border-radius: 20px;
    background-color: #FFF;
    padding: 16px 30px 30px 30px;
}

.rightSide .storeForm .aboutStore .title {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rightSide .storeForm .aboutStore .title label {
    color: #030102;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .storeForm .aboutStore .title input {
    width: 887px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #e2e6ee;
    background-color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
}

.rightSide .storeForm .aboutStore .descriptionOfStore {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rightSide .storeForm .aboutStore .descriptionOfStore label {
    color: #030102;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .storeForm .aboutStore .descriptionOfStore textarea {
    width: 887px;
    height: 89px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #e2e6ee;
    background-color: #fff;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
}

.rightSide .storeForm .aboutStore .bookImg {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rightSide .storeForm .aboutStore .bookImg label {
    color: #030102;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .storeForm .aboutStore .bookImg input {
    width: 887px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #e2e6ee;
    background-color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
}

.rightSide .storeForm .aboutStore button {
    height: 40px;
    width: 887px;
    padding: 12px 24px;
    border-radius: 10px;
    border: 0px;
    background-color: #ff8b00;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightSide .joinUs {
    display: flex;
    flex-direction: column;
    margin-top: 136px;
    margin-left: 70px;
}

.rightSide .joinUs h2 {
    color: #333;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}

.rightSide .joinUs table {
    background-color: #FFFAF5;
    border: 0px;
    width: 512px;
}

.rightSide .joinUs table tr {
    background-color: #FFF;
    text-align: center;
    height: 48px;
    box-shadow: 0px -1px 0px 0px #E6E7E9 inset, 0px 1px 0px 0px #E6E7E9 inset;
    padding: 8px 16px;
}

.rightSide .joinUs table tr:nth-child(1) td {
    background-color: #720418;
    box-shadow: 0px -1px 0px 0px #E6E7E9 inset;
    color: #Fff;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.14px;
    padding: 8px 16px;
}

.rightSide .joinUs table tr td {
    color: #05111A;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.14px;
}

.rightSide .books {
    margin-top: 136px;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rightSide .books h2 {
    color: #333
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}
.rightSide .books table{
    width: 95%;
    height: 97px;
    margin-right: 45px;
}
.rightSide .books table tr {
    background-color: #FFF;
    text-align: center;
    height: 48px;
    box-shadow: 0px -1px 0px 0px #E6E7E9 inset, 0px 1px 0px 0px #E6E7E9 inset;
    padding: 8px 16px;
}

.rightSide .books table tr:nth-child(1) td{
    background-color: #720418;
    box-shadow: 0px -1px 0px 0px #E6E7E9 inset;
    color: #Fff;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.14px;
    padding: 8px 0px;
}
.rightSide .books table tr td {
    color: #05111A;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.14px;
}

.rightSide .contactUs{
    margin: 298px 0px 438px 75px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.rightSide .contactUs h2 {
    color: #333
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}
.rightSide .contactUs table{
    width: 95%;
    height: 97px;
    margin-right: 45px;
}
.rightSide .contactUs table tr {
    background-color: #FFF;
    text-align: center;
    height: 48px;
    box-shadow: 0px -1px 0px 0px #E6E7E9 inset, 0px 1px 0px 0px #E6E7E9 inset;
    padding: 8px 16px;
}

.rightSide .contactUs table tr:nth-child(1) td{
    background-color: #720418;
    box-shadow: 0px -1px 0px 0px #E6E7E9 inset;
    color: #Fff;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.14px;
    padding: 8px 0px;
}
.rightSide .contactUs table tr td {
    color: #05111A;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.14px;
}
.rightSide .contactUs table tr td:nth-child(1){
    padding-left: 10px;
}